body { 
  font-family: 'Droid Serif';
}

h1, 
h2, 
h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}

.remark-slide {
  font-size: 1.3em;
}

img {
  max-width: 100%;
  height: auto;
}
